body {
    background: #000;
    color:#fff;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    &,* {
        color:#fff;
        padding: 0;
        margin: 0;
    }

    main {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
    }

    #canvascontainer {
        height: 100%;
        width: 100%;
        display: inline-block;
        border: 0;

        canvas {
            background: #998;
            -ms-interpolation-mode: nearest-neighbor;
            image-rendering: -moz-crisp-edges;
            image-rendering: pixelated;
            image-rendering: crisp-edges;
            border: 0;
        }
    }
}
