body {
    background:#000;
    color:#fff;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    &,* {
        color:#fff;
        padding: 0;
        margin: 0;
    }

    main {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
    }

    #canvascontainer {
        height: auto;
        width: auto;
        display: inline-block;
        border: 1px solid #fff;

        canvas {
            background:url("background.png");
            background-size: 32px;
            image-rendering: pixelated;
        }
    }
}
